{% extends "base.html" %}
{% block title %} &ndash; {{ _('Code Challenges') }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1>{{ _('Code Challenges') }}</h1>
	<img src='http://pybit.es/images/featured/pb-challenge.png' alt='challenge logo' class='theme-logo'>
  </header>

  <p>Every Monday we release a code challenge here.
  End of the week we publish one or more solutions.</p>

  <p>The goal is to have us and our readers work on the solution during the week.</p>

  <p>To keep it simple we don't accept pull-requests at this time. Just <a href='https://github.com/pybites/challenges' target='_blank'>fork our challenges repo</a> and work on your solution locally. See <a href='https://github.com/pybites/challenges/blob/master/INSTALL.md' target='_blank'>here</a> for more details.</p>

  <p>If you have questions or want to share your solution use the comment sections of the articles below.</p>

  <p>Remember, we don't strive for the 'best' solution, it's not a competition. The objective is learn more and better Python.
  We believe solving code challenges is a very effective way to achieve this.<br>
  Have fun!</p>

  <hr>

  <ul>
      {% for article in dates %}
		{% if 'codechallenge' in article.url %}
      		<li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
		{% endif %}
      {% endfor %}
  </ul>
</article>
{% endblock %}
