{% extends "base.html" %}
{% block title %} &ndash; {{ _('Code Challenges') }}{% endblock %}

{% block content %}

<article class="single">
  <header>
    <h1>{{ _('Code Challenges') }}</h1>
	<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/page-challenges.png" alt='article logo' class='theme-logo'>
  </header>

  <p>Every month we release 2-4 new Python code challenges and a review post where we publish solutions and feature pull requests.</p>

  <p>Update 20th of December 2017: we launched our new <a href="https://codechalleng.es" target="_blank">Code Challenges Platform</a>. Please start using it and let us know what you think! (legacy instructions are still <a href="https://github.com/pybites/challenges/blob/master/INSTALL.md" target="_blank">here</a>). You can read more about it <a href="https://pybit.es/special-birthday-new-platform.html">here</a>.

  <p>Remember, we don't strive for the 'best' solution, it's not a competition.  Learning more + better Python is the main objective. Respect the newbie. We believe solving code challenges is a very effective way to achieve this.</p>
  
  <p>Good luck and have fun!</p>

  <pre>
  >>> from pybites import Bob, Julian
  Keep Calm and Code in Python!
  </pre>

  <br>
  <input type="text" id="search" onkeyup="filterList()" placeholder="Search Challenges  .." title="What do you like to code?"<>
  <ul id='articleList' class='articleList'>
      {% for article in dates %}
		{% if 'codechallenge' in article.url %}
      		<li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
		{% endif %}
      {% endfor %}
  </ul>
</article>
{% endblock %}
