{% extends "base.html" %}
{% block title %} &ndash; {{ _('Code Challenges') }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1>{{ _('Code Challenges') }}</h1>
	<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/page-challenges.png" alt='article logo' class='theme-logo'>
  </header>

  <p>Every Tuesday we release a new code challenge here.
  On Monday the next week we publish one or more solutions.</p>

  <p>The goal is to have us and our readers work on the solution during the week.</p>

  <p>Just <a href='https://github.com/pybites/challenges' target='_blank'>fork our challenges repo</a> and work on your solution locally. See <a href='https://github.com/pybites/challenges/blob/master/INSTALL.md' target='_blank'>here</a> for more details.</p>, also how you can submit your solution via PR. Cool submissions will be featured in our review posts (examples below).

  <p>Remember, we don't strive for the 'best' solution, it's not a competition. The objective is learn more and better Python.
  We believe solving code challenges is a very effective way to achieve this.<br>
  Have fun!</p>

  <br>
  <input type="text" id="search" onkeyup="filterList()" placeholder="Search Challenges  .." title="What do you like to code?"<>
  <ul id='articleList'>
      {% for article in dates %}
		{% if 'codechallenge' in article.url %}
      		<li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
		{% endif %}
      {% endfor %}
  </ul>
</article>
{% endblock %}
